---
const { imgPath, text, description, className } = Astro.props;
---

<div
    class={`max-w-xs flex-1 h-full ${className ?? className}`}
    id="card"
    data-aos="fade-down"
    data-aos-delay="300"
>
    <img src={imgPath} alt="card-img" />
    <div class="mt-3">
        <h3>{text}</h3>
        <p class="text-sm text-muted">
            {description}
        </p>
    </div>
</div>
