---

---

<section
    id="cta"
    class="max-w-7xl min-h-2/3 mx-auto flex flex-col items-center justify-center border border-gray-80 rounded-xl"
>
    <h1
        data-aos="fade-in"
        data-aos-delay="300"
        class="text-3xl md:text-4xl font-bold mb-8 text-center w-full px-2 md:w-2/3"
    >
        Get real-time weather updates and personalized lifestyle tips tailored
        to your city
    </h1>
    <a
        href="https://citywise.vercel.app/"
        target="_blank"
        data-aos="fade-in"
        data-aos-delay="500"
    >
        <button
            type="button"
            class="bg-blue-primary rounded-full text-white font-bold px-5 py-3 mt-1 md:mt-3 cursor-pointer"
            >Get Started Now</button
        >
    </a>
</section>
