---

---

<section
    class="max-w-7xl min-h-2/3 mx-auto flex flex-col items-center justify-center border border-gray-80 rounded-xl"
>
    <h1 class="text-4xl font-bold mb-8 text-center w-2/3">
        Get real-time weather updates and personalized lifestyle tips tailored
        to your city
    </h1>
    <button
        type="button"
        class="bg-blue-primary rounded-full text-white font-bold px-5 py-3 mt-3"
        >Get Started Now</button
    >
</section>
