---
import Card from "./Card.astro";
---

<section class="max-w-7xl mx-auto py-10 px-4 md:px-0" id="features">
    <h1 class="font-bold text-4xl mb-4">Key Features</h1>
    <p class="text-base-50 mb-10">
        Discover how CityWise enhances your daily life with its intuitive
        interface and powerful features.
    </p>
    <div class="flex flex-col md:flex-row md:items-stretch gap-5 md:gap-3">
        <Card
            className="card"
            imgPath="/card-img-one.png"
            text="Real-Time Weather Updates"
            description="Stay ahead with accurate, up-to-the-minute weather forecasts for your city."
        />
        <Card
            className="card"
            imgPath="/card-img-two.png"
            text="Personalized Lifestyle Suggestions"
            description="Receive tailored recommendations for activities, events, and places based on your preferences and the current weather."
        />
        <Card
            className="card"
            imgPath="/card-img-three.png"
            text="Intuitive User Interface"
            description="Navigate effortlessly with a clean, user-friendly design that puts all the information you need at your fingertips."
        />
    </div>
</section>
