---
const year = new Date().getFullYear();
---

<footer class="px-10 py-5 mt-10 flex items-center justify-between">
    <a href="/"><img src="/logo.png" alt="" class="cursor-pointer" /></a>
    <nav>
        <ul class="flex items-center gap-9">
            {year} &copy; CityWise. All Rights Reserved.
        </ul>
    </nav>
</footer>
