---
const year = new Date().getFullYear();
---

<footer class="px-2 md:px-10 py-5 mt-10 flex items-center justify-between">
    <a href="/"><img src="/logo.png" alt="" class="cursor-pointer" /></a>
    <nav>
        <span class="text-xs md:text-base"
            >{year} &copy; <span class="hidden md:block">CityWise.</span> All Rights
            Reserved.</span
        >
    </nav>
</footer>
