---

---

<main
    class="relative my-5 bg-[url('/hero-bg.png')] bg-cover bg-center text-white max-w-7xl min-h-3/4 mx-auto flex items-center justify-center rounded-2xl"
>
    <div class="absolute inset-0 bg-black/30 backdrop-blur-sm rounded-2xl">
    </div>
    <div
        class="relative z-10 flex items-center flex-col justify-center text-center"
    >
        <h1 class="font-bold text-5xl">
            Your City, Your Life, Perfectly Synced
        </h1>
        <h2 class="text-base mt-2 w-[80%]">
            CityWise is your all-in-one dashboard for real-time weather updates
            and personalized lifestyle suggestions, helping you make the most of
            every day.
        </h2>
        <button
            type="button"
            class="bg-blue-primary rounded-full text-white font-bold px-5 py-3 mt-3"
            >Get Started</button
        >
    </div>
</main>
