---

---

<header
    class="px-10 py-5 flex items-center justify-between sticky top-0 bg-white z-40"
>
    <a href="/" data-aos="fade-in" data-aos-delay="300"
        ><img src="/logo.png" alt="" class="cursor-pointer" /></a
    >
    <nav data-aos="fade-in" data-aos-delay="400">
        <ul class="flex items-center gap-9">
            <li
                class="hover:border-b transition-all duration-75 cursor-pointer hidden md:block"
            >
                <a href="#home">Home</a>
            </li>
            <li
                class="hover:border-b transition-all duration-75 cursor-pointer hidden md:block"
            >
                <a href="#features">Features</a>
            </li>
            <li
                class="px-4 py-3 bg-blue-primary text-sm text-white font-bold rounded-2xl cursor-pointer"
            >
                <a href="#cta">Get Started</a>
            </li>
        </ul>
    </nav>
</header>
